{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}
    {% block new_process_form %}
    {% endblock new_process_form %}
    <div class="row">
        <h1 id="processes-list">Processes List</h1>
        <div>&nbsp;</div>
        <table class="table table-bordered table-striped" id="process-list">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Source email</th>
                    <th>Destination message email</th>
                    <th>Search criteria</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for clean_process in clean_processes %}
                <tr>
                    <td>{{ clean_process.process_name }}</td>
                    <td>{{ clean_process.source_email }}</td>
                    <td>{{ clean_process.destination_message_email }}</td>
                    <td>{{ clean_process.search_criteria }}</td>
                    <td>{{ clean_process.status }}</td>
                </tr>
                {% else %}
                <tr><td colspan="7">No processes yet</td></tr>
                {% endfor %}
            </tbody>
        </table>
        {{curs}}
        <ul class="pager">
            {%if prev_curs %}
            <li id="prev-id" style="cursor: pointer">
                <a href="{{url_for('list_process')}}?prev=true&cursor={{prev_curs}}">
                    previous
                </a>
            </li>
            {% endif %}
            <li id="home-id" style="cursor: pointer">
                <a href="{{url_for('list_process')}}">
                    home
                </a>
            </li>
            {%if next_curs %}
            <li id="next-id" style="cursor: pointer">
                <a href="{{url_for('list_process')}}?cursor={{next_curs}}">
                    next
                </a>
            </li>
            {% endif %}
        </ul>


    </div>

{% endblock content %}