{% extends "list_process.html" %}

{% block new_process_form %}
<div id="new-process-div">
    <h1 >New Process</h1>
    <form id="new-process-form" role="form"
        action="{{ url_for('list_process') }}" method="post" accept-charset="utf-8">
            <div class="form-group">
                <label for="input1" class="col-sm-2 control-label">
                    Input1
                </label>
                <div class="col-sm-10">
                    <input id="input1" name="input1"
                       class="form-control" placeholder="input1" type="text" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" style="margin-top: 10px;">
                    <button class="btn btn-primary" type="submit">
                        Add Example
                    </button>
                    <button class="btn"  type="reset" data-dismiss="modal">
                        Clean
                    </button>
                </div>
            </div>

    </form>
</div>

{% endblock new_process_form %}