<div class="row">
    <div style="margin-top: -80px" class="col-md-12">
        <div class="col-xs-6"><img style="padding-left:200px;padding-top:110px;" src="/static/img/logo-01.png" alt="logo" class="img-rounded"></img></div>
        <div class="col-xs-6"><img style="padding-left:200px;padding-top:70px;" src="/static/img/sobre-01.jpg" alt="logo" class="img-rounded"></img></div>
    </div>
</div>
<div class="row">
    <div class="col-md-6 btn-toolbar" role="toolbar">
  <button style="margin-top: 70px; float: right;" type="button" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-cloud-upload"></span> New Process
  </button>
    </div>
    <div class="col-md-6"><button style="margin-top: 70px" class="btn btn-info btn-lg"  role="button">User Guide</button></div>

</div>

{% extends "list_process.html" %}

{% block new_process_form %}
<div id="new-process-div" class="row">
    <h1 style="margin-left:13px">New Process</h1>
    {% if form.errors %}
        {% for key, value in form.errors.iteritems() %}
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert">&times;</a>
            {{ key }} : {{value[0]}}
        </div>
        {% endfor %}
    {% endif %}

    {% if clean_process_saved %}
     <div class="alert alert-success">
        <a href="#" class="close" data-dismiss="alert">&times;</a>
        Process saved successfully please reloaded to see it
     </div>
    {% endif %}


    <form id="new-process-form" role="form"
        action="{{ url_for('list_process') }}" method="post"
        accept-charset="utf-8">
            {{ form.hidden_tag() }}
            <div class="form-group">
                <label for="process_name" class="col-sm-2 control-label">
                    Process Name
                </label>
                <div class="col-sm-10">
                    <input id="process_name" name="process_name"
                       class="form-control" placeholder="Process Name"
                       type="text" required/>
                </div>
            </div>
            <hr>
            <div class="form-group">
                <label for="source_email" class="col-sm-2 control-label">
                    Source Email
                </label>
                <div class="col-sm-10">
                    <input id="source_email" name="source_email"
                       class="form-control" placeholder="Process Name"
                       type="email" required/>
                </div>
            </div>

            <div class="form-group">
                <label for="source_password" class="col-sm-2 control-label">
                    Source Password
                </label>
                <div class="col-sm-10">
                    <input id="source_password" name="source_password"
                       class="form-control" placeholder="Process Name"
                       type="password" required/>
                </div>
            </div>

            <div class="form-group">
                <label for="search_criteria" class="col-sm-2 control-label">
                    Search Criteria
                </label>
                <div class="col-sm-10">
                    <input id="search_criteria" name="search_criteria"
                       class="form-control" placeholder="Process Name"
                       type="text" required/>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">
                    Owner Email
                </label>
                <div class="col-sm-10">
                    {{user}}
                </div>
            </div>



            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10" style="margin-top: 10px;">
                    <button id='add-process-button' class="btn btn-primary"
                            type="submit">
                        Add Process
                    </button>
                    <button class="btn"  type="reset" data-dismiss="modal">
                        Clean
                    </button>
                </div>
            </div>

    </form>

</div>

{% endblock new_process_form %}

