{% extends "list_process.html" %}

{% block new_process_form %}
<div id="new-example-modal">
    <div class="modal-body">
        <form id="new-example-form" class="well form-horizontal"
            action="{{ url_for('list_process') }}" method="post" accept-charset="utf-8">
            <fieldset>
                <div class="control-group">
                    <div class="control-label"> prueba1</div>
                    <div class="controls">
                        <input />
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add Example"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>

{% endblock new_process_form %}